.sidedrawerMain{
    background-color: #eee;
    color: #808080;
}
.sideStackLayout {
    background-color:#eee;
}

.sideTitleStackLayout {
    padding: 10;
    height: 30%;
    text-align: center;
    background-color: #2196F3;
    color: #fff;
}

.sideLabel {
    padding: 10;
    text-align: center;
}
.sideLabelActive{
    background-color: #42A5F5;
    color: #fff;
}