page-about {
  ion-content{

    ion-row{
      color: #007aff;
    }

    ion-col{
      margin: 0;
      padding:0;
    }

    .info-text{
      margin-top: 0.2rem;
    }
    .no-margin{
      margin:0;
    }
    .icon-big{
      font-size: 3.7rem;
    }
  }
  .NavButton{
    position: absolute;
    z-index: 10;
    width: 150px;
    margin-top: 90px;
    margin-left: -7px;
    background-color: white ;
    color:  #007aff;
  }
  div.background {
    background: url(https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg) repeat;
  }
  div.transbox {
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
}

.ios, .md {

  page-about {

    .scroll {
      height: 100%
    }

    #map {
      width: 100%;
      height: 500px;
    }

  }

}
