<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>posts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let post of posts">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/user.png">
      </ion-avatar>
      <h2>{{post.user}}</h2>
      <p>{{post.time_stamp}}</p>
    </ion-item>

    <ion-card-content>
      <p>{{post.content}}</p>

      <div class="hashtag-section">
        <ion-badge *ngFor="let hashtag of post.hashtags" (click)="navToNewPost(hashtag)">{{ hashtag.title }}</ion-badge>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
