<StackLayout>
    <Image src="https://placehold.it/400x300"></Image>
    <GridLayout columns="*, *" rows="auto">
        <StackLayout row="0" col="0" class="timeCont">
            <Label class="h2 text-center" text="Time"></Label>
            <Label class="h5 text-center"  textWrap="true" text="12,13,14 Aug. 2017 9.00AM-7.00PM"></Label>
        </StackLayout>
        <Image src="https://placehold.it/200x150" row="0" col="1" (tap)="navigateTo(['map'])"></Image>
    </GridLayout>
    <RadListView [items]="postsData">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.text"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout>