<ion-content>

  <ion-list id="first-list" radio-group [(ngModel)]="sessionType" (ngModelChange)="dismissFilter()">

    <ion-list-header>
      Session Type
    </ion-list-header>

    <ion-item *ngFor="let type of types">
      <ion-label>{{ type }}</ion-label>
      <ion-radio [value]="type"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list radio-group [(ngModel)]="sessionCategory" (ngModelChange)="dismissFilter()">

    <ion-list-header>
      Session Category
    </ion-list-header>

    <ion-item *ngFor="let category of categories">
      <ion-label>{{ category.toUpperCase() }}</ion-label>
      <ion-radio [value]="category"></ion-radio>
    </ion-item>

  </ion-list>
</ion-content>
