page-home {

  ion-content{

    ion-row{
      color: #3498db;
    }

    ion-col{
      margin: 0;
      padding:0;
    }

    ion-img{
      background: #fff;

      img{
        margin:0 auto;
      }
    }


    .itw-back{
      width:100%;
      height:60vh;
      display: block;
    }

    .info-text{
      margin-top: 0.2rem;

      .place {
        margin-top: 0.6rem;
      }

    }
    .no-margin{
      margin:0;
    }
    .icon-big{
      font-size: 3.7rem;
    }
    .map-col{
      padding: 0;

      ion-img{
        width:100%;
        height:100%;
      }
    }

    .updates-head{
      text-align: center;
      background: #3498db;
      display: block;

      h2{
        color:#fff;
        margin: 0;
        padding: 1.2rem;
        display: block;
      }
    }

    .updates-cont{
      .new_post{
        ion-card-content{
          text-align: center;

          h2{
            font-size: 2rem;
          }

        }
      }

      .hashtag-section{
        margin-top: 0.8rem;

        ion-badge{
          margin: 0.3rem;
          background: #cfcfcf;
          color: #000;
          font-weight: bold;
        }
      }

    }
  }

}
