<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="getPosts($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right >
    <button ion-fab><ion-icon name="add"></ion-icon></button>

    <ion-fab-list side="top">
      <button ion-fab color="primary"><ion-icon name="share"></ion-icon></button>
      <button ion-fab color="primary" (click)="navToNewPost()"><ion-icon name="chatbubbles"></ion-icon></button>
      <button ion-fab color="primary"><ion-icon name="pin"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-img src="assets/img/itw-background-crop.jpeg" menuToggle class="itw-back"></ion-img>

  <ion-row class="info">

    <ion-col col-8>

      <ion-row>

        <ion-col col-2>
          <ion-icon name="calendar" class="icon-big"></ion-icon>
        </ion-col>

        <ion-col col-10 class="info-text">
          <h6 class="no-margin"> Monday, August 21st & Tuesday, August 22nd</h6>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col col-2>
          <ion-icon name="pin" class="icon-big"></ion-icon>
        </ion-col>

        <ion-col col-10 class="info-text">
          <h6 class="no-margin"> Bibliotheca Alexandrina</h6>
        </ion-col>

      </ion-row>

    </ion-col>

    <ion-col col-4 class="map-col">
      <ion-img (click)="goToAbout()" src="assets/img/map.jpg"></ion-img>
    </ion-col>

  </ion-row>


  <div class="updates-head">
    <h2>UPDATES</h2>
  </div>

  <div class="updates-cont">

    <ion-card class="new_post" (click)="navToNewPost()">
      <ion-card-content>
        <h2>
          <ion-icon md="ios-create" ios="ios-create"></ion-icon> Write a new post </h2>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let post of posts">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/user.png">
        </ion-avatar>
        <h2>{{post.user.name}}</h2>
        <p>{{post.createdAt | date:'h:mm a MMMM d, y'}}</p>
      </ion-item>

      <ion-card-content>
        <p>{{post.content}}</p>

        <div class="hashtag-section">
          <ion-badge *ngFor="let hashtag of post.hashtags" (click)="navToNewPost(hashtag)">{{ hashtag.title }}</ion-badge>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
