<ActionBar title="ITW'17" class="blue">
    <NavigationButton icon="res://ic_menu_black_24dp" *ngIf="android" (tap)="openDrawer()"></NavigationButton>

    <ActionItem ios.systemIcon="res://ic_menu.imageset/ic_menu" ios.position="left" *ngIf="ios" (tap)="openDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawerMain">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Logo"></Label>
            <Image src="https://placehold.it/150x100"></Image>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Home" class="sideLabel" [nsRouterLink]="['home']" (tap)="closeDrawer()" nsRouterLinkActive="sideLabelActive"></Label>
            <Label text="Notifications" class="sideLabel" [nsRouterLink]="['notifications']" (tap)="closeDrawer()" nsRouterLinkActive="sideLabelActive"></Label>

        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>
