/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '../node_modules/nativescript-theme-core/css/core.dark.android.css';
@import '../node_modules/nativescript-theme-core/css/core.dark.ios.css';

.h1{
    font-size: 30;
}
.h2{
    font-size: 27;
}
.text-center{
    text-align: center;
}
.sidedrawerMain{
    background-color: #eee;
    color: #808080;
}
.sideStackLayout {
    background-color:#eee;
}

.sideTitleStackLayout {
    padding: 10;
    height: 30%;
    text-align: center;
    background-color: #2196F3;
    color: #fff;
}

.sideLabel {
    padding: 10;
    text-align: center;
}
.sideLabelActive{
    background-color: #42A5F5;
    color: #fff;
}

.blue{
    background-color: #2196F3;
}

ActionBar{
    color: #fff;
}
