<ActionBar title="ITW'17" class="blue">
    <NavigationButton text="Go Back" android.systemIcon="res://ic_menu_black"></NavigationButton>

    <ActionItem ios.systemIcon="res://ic_menu_black" ios.position="left"></ActionItem>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawerMain">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Logo"></Label>
            <Image src="https://placehold.it/150x100"></Image>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Home" class="sideLabel sideLabelActive" [nsRouterLink]="['home']"></Label>
            <Label text="Notifications" class="sideLabel" [nsRouterLink]="['notifications']" (tap)="closeDrawer()"></Label>

        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>
