page-sponsors {
    .sponsor {
        color: white;
        font-size: 17px;
        padding: 6px;
        margin-top: 0;
        width: 100%;
        text-align: center;
        background-color: #b3b3b3;
    }

    img {
        width: 50%;
        margin-top: 1rem;
    }
    div {
        text-align: center;
    }

    .toolbar-title {
      width: auto;
    }
}
