page-speakers {
  ion-item{
    ion-avatar{
      ion-img{
        width:70px !important;
        height: 70px !important;

        img{
          width:70px !important;
          height: 70px !important;
        }
      }
    }
    h2 {
      color: #707070;
      line-height: 40px;
      font-weight: bold !important;
    }
  }
}
